body {
    background-color: rgb(233, 233, 233);
}

header {
    font-size: 200%;
    color: white;
    background-color: rgba(0, 0, 139, 0.712);
    border-style:solid;
    border-color: rgb(70, 70, 70);
    text-align: center;
}

.history{
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

.cityBtn {
    margin-left: 50px;
    margin-top: 30px;
    padding: 15px;
}

.weatherBlocks {
    height: 480px;
    margin: auto;
    background-color: rgb(210, 243, 250);
    border-color: black;
    border-radius: 5px;
    border-style: solid;
    margin-top: 80px;
  }

.weatherCardCurrent {
    background-color: rgb(154, 190, 255);
    height: 170px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

.futureForecast {
    background-color: rgb(154, 190, 255);
    margin: 18px;
    height: 260px;
    border-style: outset;
    border-color: darkblue;
}

p {
    margin-bottom: auto;
}

.hide {
    display: none;
}